<md-card>
  <h3>
    <a routerLink="/gems/{{gem.name}}">{{gem.name}}</a> by {{gem.authors}}
    <button (click)="toggle()" md-icon-button>
      <md-icon>{{favorite ? 'star' : 'star_border'}}</md-icon>
    </button>
  </h3> 
  <p>Dependencies: 
  <span *ngFor="let dependency of gem.dependencies.runtime">
    <a routerLink="/gems/{{dependency.name}}">{{dependency.name}}</a>
  </span>
  </p>
  <p>
    <a href="{{gem.gem_uri}}" md-raised-button>Download version {{gem.version}}</a>
    {{gem.downloads}} downloads
  </p>
</md-card>
